@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/dist/css/bootstrap.min.css";


main {
    background-image: url('/public/images/bg-login.png') !important;
}

.loginPage .heading {
    color: #313131;
    text-align: center;
    font-family: Roboto;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.loginPage .subheading {
    color: #6E6E6E;
    text-align: center;
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.loginPage .form-control {
    border-radius: 0.59906rem !important;
    border: 0 solid #F9F9F9 !important;
    background: #F5F5F5 !important;
    display: flex;
    height: 4.125rem !important;
    /* padding: 1.57838rem 20.06888rem 1.29663rem 1.99363rem !important; */
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.loginPage .form-control::placeholder {
    color: #BFBFBF !important;
    font-family: Roboto;
    font-size: 1.07994rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.checkbox-text {
    color: #BFBFBF !important;
    font-family: Roboto;
    font-size: 0.99688rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rememberMe {
    border-radius: 0.1875rem;
    border: 1px solid #C9C9C9;
    background: #FFF;
    width: 1.5625rem !important;
    height: 1.5625rem !important;
}

.loginBtn {
    display: flex;
    width: 100%;
    padding: 1.25rem 0;
    justify-content: center;
    align-items: center;
    border-radius: 0.68506rem;
    border: none;
    background: #007AFF;
}

.loginBtn span {
    color: #FFF;
    font-family: Roboto;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 73px;
    background: #FFF;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.10);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: #000;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h3 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    background: #FFCB48;
    color: #000;

}

.content {
    margin-left: 220px;
    padding: 80px 20px 20px 20px;
}

.title {
    color: #323232;
    font-family: Roboto;
    font-size: 31.061px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sub-title {
    color: #000;
    font-family: Roboto;
    font-size: 16.566px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-note {
    color: #FFF;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-subnote {
    color: #FFF;
    font-family: "DM Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-bg {
    border-radius: 8px;
    border: 1.035px solid #DEDEDE;
    background: #FFF;
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.11);
}

.card-heading {
    color: #6E6E6E;
    font-family: Roboto;
    font-size: 16.566px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-numbers {
    color: #000;
    font-family: Roboto;
    font-size: 31.061px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pagination{
    margin-left: 20px;
    gap:5px;
}